[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
server-id       = 1
log-bin         = master-bin
# Custom config should go here
!includedir /etc/mysql/conf.d/

